<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <style>
            table {
                border-collapse: collapse;
            }
            table td {
                padding: 0px;
            }
        </style>
    </head>
    <body>
        <center>
            <p style="text-decoration: underline; font-weight: bold">
                By reading this form, you have agreed to keep this form
                confidential. It should not be sold, copied, distributed, or
                used in any form without ODCCLLC consent.
            </p>
            <h4 style="text-decoration: underline">
                CLIENTELE INFORMATION FORM
            </h4>
        </center>

        <p>PRACTICE NAME:</p>
        <p>Provider’s Name: Email Address:</p>
        <p>Provider’s Contact Number: (Phone) (Mobile)</p>
        <p>Tax Number: NPI Number: License Number:</p>
        <p>Clinic Address:</p>
        <p style="text-decoration: underline; font-weight: bold">
            CONTACT PERSON (Dedicated Person to Communicate)
        </p>
        <p>
            <span>Name:</span><span> Email Address: </span>
            <span>Contact Number:</span>
        </p>
        <p>
            <span>PRACTICE MANAGEMENT SOFTWARE PRACTICE</span>
            <span>PHONE SYSTEM</span>
        </p>

        <p>INTERNET SPEED UPLOAD DOWNLOAD SPEED</p>
        <p>APPROXIMATE NUMBER OF PATIENTS PER DAY</p>
        <p>NUMBER OF OPERATORY DOCTORS PER DAY NUMBER OF HYGIENISTS PER DAY</p>
        <p>APPROXIMATE NUMBER OF NEW PATIENTS PER MONTH</p>
        <p>TYPE OF PATIENT INSURANCE: DENTI‐CAL HMO PPO CASH</p>
        <p>CLINICAL HOURS AND DAY: MON TUES WED</p>
        <p>THUR FRI SAT SUN</p>
        <p>Desired date to start service:</p>
    </body>
</html>
